/**
    Taken from https://github.com/toedter/e4-rendering/tree/master/com.toedter.e4.demo.contacts.javafx/css
*/

.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
}

.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.text-field, .list-view {
    -fx-font-size: 12px;
    -fx-font-family: "baskerville";
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.scroll-pane {
    -fx-background: rgb(50, 50, 50);
    -fx-background-insets: 10;
    -fx-border-color: black;
    -fx-alignment: center;

}

.text-field, .list-view {
    -fx-font-size: 12px;
    -fx-font-family: "baskerville";
    -fx-border-color: black;
    -fx-prompt-text-fill: white;
}

.hbox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.title-text {
    -fx-font-size: 24px;
    -fx-font-family: "baskerville";
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-fill: white;
    -fx-stroke: black;
}

.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base, 30%));
    -fx-background-color: gray;
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base, 30%));
}

.MTrimBar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, +50%), derive(-fx-base, -40%), derive(-fx-base, -20%));
}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, +50%), derive(-fx-base, -40%), derive(-fx-base, -20%));
}

.tool-bar:vertical {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, -50%), derive(-fx-base, -40%), derive(-fx-base, -20%));
}

.tool-bar .separator:vertical .line {
    -fx-border-style: solid;
    -fx-background-color: null;
    -fx-border-color: transparent transparent derive(-fx-base, -35%) derive(-fx-base, +15%);
}

.tool-bar .separator:horizontal .line {
    -fx-border-style: solid;
    -fx-background-color: null;
    -fx-border-color: transparent transparent derive(-fx-base, +15%) transparent;
}

.tooltip {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: greenyellow;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.label {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: greenyellow;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.table-view {
    -fx-table-cell-border-color: derive(-fx-base, +10%);
    -fx-table-header-border-color: derive(-fx-base, +20%);
}

/* When the TableView is _not_ focused, we show alternate selection colors */
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: derive(-fx-base, +60%);
}

.table-row-cell:filled:hover {
    -fx-background-color: derive(-fx-base, +40%);
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base, 20%);
    -fx-background-insets: 0, 0 1 0 1;
}

.my-gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base, 20%), derive(-fx-base, -20%));
}

.separator-label {
    -fx-text-fill: orange;
}

.choice-box .context-menu .label {
    -fx-base: #4f4d50;
}
.choice-box  .label {
    -fx-base: #363736;
}

#decorationArea {
    -fx-padding: 10px;
    -fx-background-color: derive(-fx-base, +10%);
    /*
    -fx-background-image: url("images/top-bar.png");
    -fx-background-size: cover, contain;
    -fx-background-position: left top, center center;
    -fx-background-repeat: no-repeat;
     */
}

#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}

#window_close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}

#window_min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}

#window_max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}

#window_close:hover {
    -fx-background-image: url("images/window-close-over.png");
}

#window_min:hover {
    -fx-background-image: url("images/window-min-over.png");
}

#window_max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}

.MTrimBar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, -30%), derive(-fx-base, -60%)),
    linear-gradient(to bottom, derive(-fx-base, 65%) 2%, derive(-fx-base, -20%) 95%);
}

.MTrimBar .tool-bar {
    -fx-border-style: solid;
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-border-width: 0px;
}

.tool-bar {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to bottom, derive(-fx-base, -30%), derive(-fx-base, -60%)),
    linear-gradient(to bottom, derive(-fx-base, 65%) 2%, derive(-fx-base, -20%) 95%);
    -fx-border-width: 1px;
}