.vbox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.hbox {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.scroll-pane {
    -fx-background: rgb(74, 181, 128);
    -fx-border-color: black;
}

.tab-pane *.tab {
    -fx-font-size: 14px;
    -fx-font-family: "baskerville";
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: black;
}

.tab-pane *.tab:selected {
    -fx-font-size: 14px;
    -fx-font-family: "baskerville";
    -fx-font-weight: bold;
    -fx-background-color: aliceblue;
    -fx-border-color: black;
    -fx-border-radius: 2;
}

.button {
    -fx-font-size: 14px;
    -fx-font-family: "baskerville";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover, .combo-box:hover {
    -fx-background-color: white;
}

.tab-pane *.tab:hover {
    -fx-background-color: antiquewhite;
}

.combo-box {
    -fx-font-size: 14px;
    -fx-font-family: "baskerville";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "baskerville";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: aliceblue;
    -fx-border-color: white;
    -fx-padding: 5
}

.text-field, .list-view {
    -fx-font-size: 12px;
    -fx-font-family: "baskerville";
    -fx-border-color: black;
}

.title-text {
    -fx-font-size: 48px;
    -fx-font-family: "baskerville";
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-fill: white;
    -fx-stroke: black;
}